[user]
	email =
	name =

# All omscs repos stored with ~/omscs
[includeIf "gitdir:~/omscs/"]
    path = .gitconfig-omscs

[alias]

    # Better log
	l = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit

    # List git aliases
    la = "!git config -l | grep alias | cut -c 7-"

